{% extends 'base.html' %}
{% block title %}
Confirm Assembly - Delete
{% endblock title %}

{% block content %}
<div class="container">
  </br> </br></br>
  <div class="card">
    </br></br>
    {% if task.manage == request.user %}
    <form method="POST">
      {% csrf_token %}
      <div class="text-center">
        <h3>Are you sure you want to remove this Assembly <b>{{ task.assembly}}</b> from the list !</h3>
      </div>
      </br>
      <div class="text-center"> <button class="btn-danger" type="submit">Confirm</button></div>
      </br> </br>

      <div class="text-center">
        <h4>or return to Assembly Home page <a href="{% url 'assemblylist' %}"><b>here</b></a></h4>
      </div>
     
    </form>
  </div>
    <br><br><br><br><br><br><br><br>
    {% else %}
    
    <p>Access Restricted, You Are Not Allowed!</p>
    {% endif %}
  
</div>
{% endblock content %}