{% load static %}
<div class='container'>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #a3a0bb;">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/Ultimate-logo.png' %}" height="50"
        width="100" alt="XYZ"></a>
    <a class="nav-item nav-link mr-auto" style="color: #08051a;" href="{% url 'index' %}">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      {% if user.is_authenticated %}
      <div class="form-inline my-2 my-lg-0 ml-auto">
        <div class="p-2  text-dark">Welcome, {{ user.username | capfirst }} !</div>
        <a href="{% url 'logout' %}">
          <button class="btn btn-info my-2 mx-1 my-sm-0" type="submit">Logout</button>
        </a>
        {% else %}
        <a href="{% url 'login' %}">
          <button class="btn btn-success mr-2 my-2 my-sm-0" type="submit">Login</button>
        </a>
        <a href="{% url 'register' %}">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Register</button>
        </a>
        {% endif %}
      </div>
      <div class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown ml-3">
          <a class="nav-link ml-auto dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manufacturing
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">            
            <a class="dropdown-item" href="{% url 'assemblylist' %}">Assembly List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'addassembly' %}">Add Assembly</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'shortages' %}">Shortages</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'packings' %}">Packings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'quotes' %}">Quotes</a>
          </div>
        </li>
        {% endif %}
      </div>
    </div>
  </nav>
</div>